body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
/*-------------------------------------- header-nav --------------------------------------*/
.header-nav {
  box-shadow: 0 16px 38px -12px rgb(158 158 158 / 10%), 0 4px 25px 0px rgb(0 0 0 / 6%), 0 8px 10px -5px rgb(205 205 205 / 10%);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header-nav ul li.logo {
  float: left;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}

.header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

.header-nav ul li {
  float: right;
}

.header-nav ul li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 8px 0 0 0;
  border-radius: 5px;
}

.header-nav ul li a:active {
  background-color: #c1bebe38;
}

.header-nav ul li a.contact-us {
  border: solid 1px #9c27b0;
  padding: 10px 10px 10px 10px;
  margin: 10px 20px 10px 10px;
  border-radius: 5px;
  transition: .3s;
}

.header-nav ul li a.contact-us:hover {
  background-color: #9c27b0;
  color: white;
  transition: .3s;
}

a.notification {
  position: relative;
}

span.notification-count {
  position: absolute;
  background-color: red;
  padding: 1px 5px 1px 5px;
  color: #ffffff;
  border-radius: 50px;
  top: 0;
  left: 20px;
  border: solid 2px #ffffff;
  font-size: 12px;
}

.notification-card {
  display: none;
  position: fixed;
  background-color: #ffffff;
  border-radius: 5px;
  right: 145px;
  width: 277px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.notification-card img.avatar {
  width: 30px;
  border-radius: 50px;
  margin-right: 8px;
}

.notification-card span {
  display: flex;
  padding: 5px;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

.notification-card span:hover {
  background-color: #9c27b0;
  color: #ffffff;
}

.notification-card p {
  font-size: 12px;
}

a.notification.show-notification .notification-card {
  display: block;
}

/*-------------------------------------------- sidebar --------------------------------------------*/
.sidebar-nav {
  box-shadow: 0 16px 38px -12px rgb(60 60 60 / 10%), 0 4px 25px 0px rgb(0 0 0 / 2%), 0 8px 10px -5px rgb(205 205 205 / 10%);
  position: fixed;
  height: 100%;
  margin: 60px 0 0 0;
}

.sidebar-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 1px;
  width: 250px;
  background-color: #f1f1f1;
  height: 100%;
}



.sidebar-nav ul li a {
  display: flex;
  color: #838282;
  padding: 0 0 0 15px;
  text-decoration: none;
  margin: 15px;
  border-radius: 5px;
  align-items: center;
}

.sidebar-nav ul li a p {
  margin-left: 15px;
}

.sidebar-nav ul li a.active {
  color: white;
  background-color: #9c27b0;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.sidebar-nav ul li a:hover:not(.active) {
  background-color: #ddd;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main-container {
  padding: 0 0 0 20px;
  float: right;
  width: calc(100% - 250px);
  margin: 60px 0 0 0;
}
